{% extends 'layouts/app.html.twig' %}

{% block title %}Tutorat{% endblock %}

{% block body %}
<main role="main" class="container">
    <div class="card mx-5 my-5">
        <div class="card-body">
            <h1 class="card-title text-center">En construction</h2>
        </div>
    </div>
</main>
{% endblock %}