{% extends 'layouts/app.html.twig' %}

{% block title %}Editer un formulaire{% endblock %}

{% block body %}
<main role="main" class="container">
    <div class="card mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-xs-12">
                    <h2 class="class-title">Editer un formulaire</h2>
                </div>
                <div class="col-md-4 text-right">
                    <a class="btn btn-sm btn-neutral" href="{{ path('formulaire') }}"><i class="fas fa-backward"></i> Retour</a>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div style="margin-top: 10px" class="flash-danger alert alert-danger">
                            Attention, supprimer ou rajouter une porte ou formation, supprimera tous les visiteurs de ce formulaire.
                        </div>
                    </div>
                    <div class="col-md-12">
                    {%
                        form_theme form
                            'layouts/jquery.collection.html.twig'
                            'layouts/form/porteType.html.twig'
                            'layouts/form/formationType.html.twig'
                    %}
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block javascripts %}
<script src="{{ path }}/js/jquery.collection.js"></script>

<script type="text/javascript">
    $('.portes').collection({
        up: '<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-sort-up"></i></a>',
        down: '<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-sort-down"></i></a>',
        add: '<a href="#" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Ajouter</a>',
        remove: '<a href="#" class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Supprimer</a>',
        min: 1,
        'prefix': 'portes-collection'
    });
    $('.formations').collection({
        up: '<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-sort-up"></i></a>',
        down: '<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-sort-down"></i></a>',
        add: '<a href="#" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Ajouter</a>',
        remove: '<a href="#" class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Supprimer</a>',
        min: 1,
        'prefix': 'formations-collection'
    });
</script>
{% endblock %}