{% extends 'layouts/app.html.twig' %}

{% block title %}Compter les visiteurs!{% endblock %}

{% block body %}
<main role="main" class="container">
    <div class="card mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 col-lg-8  col-xs-12">
                    <h2 class="class-title">Problème!</h2>
                </div>
            </div>
            <hr>
            <h4 class="class-title">Aucun formulaire n'a été défini comme actif pour ce département, contacter votre responsable de communication.</h4>
        </div>
    </div>
</main>
{% endblock %}